# copy this file, set the variables to work for your environment, and then
# rename it to oditerator.config

$file_list="list_of_users.txt";
$from_email='no-reply@example.com';
$from_email_password='supersecretemailpassword2015!!!!';  
$smtp_server='smtp.gmail.com'; 
$smtp_port='465';
$system="Development Server";
$url="http://localhost";
$helpdeskurl="http://help.MyComputer.local";
$helpdeskemail="test1\@example.com";
$helpdeskcontact="Test Help Contact";
